*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box ;
}


  /* Navigation Bar */
  .main-header,
  .nav-links{
    display: flex;
    flex-direction: column;
    width: 100%;;
    
  }

    nav{
      align-items: center;
      background-color:#527318;
    }
  .brand-name{
    text-transform: lowercase;
    letter-spacing: 5px;
    color: white;
    font-weight: bold;
    align-self: center;
   
  }
  .nav-links{
    width: 30%;
    list-style: none;
    margin-top: 1.5em;
  }
.nav-links a{
  color: white;
  text-transform: lowercase;
  letter-spacing: 3px;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: .4em;
  
}
.nav-links li{
  list-style: none;
}


/*title*/
.title-image{
   width: 100%;
   opacity:87%;
  
}
.title-intro{
   
    position: relative;
    color: black;
    text-align: center;
   
}
.title-heading{
    position: absolute;
    top: 30%;
    left: 58%;
    transform: translate(-70%, -70%);
    color:black;
    font-weight: 900;
    font-size: large;
    z-index: 1;
 
}
.title-description{
    position: absolute;
    top: 70%;
    left: 58%;
    transform: translate(-70%, -70%);
    font-weight: 900;
    font-size: medium;
    z-index: 1;
}

/*explination*/
.feature{
  background-color: #f7f7f7;
  display: grid;
  height: 100vh;
  grid-template-columns:1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "sub-heading"
  "col1"
  "col2"
  "col3";
}

.sub-heading{
    text-align:center;
    padding: 5% 0;
    color: #445C3C;
    text-transform: lowercase;
    letter-spacing: 5px;
    grid-area: sub-heading;  
}
.feature-box{
  text-align: center;
}
.sub-heading{
  grid-area:sub-heading;
}

.col1{
  grid-area:col1;
}
.col2{
  grid-area:col2;

}
.col3{
  grid-area:col3;
}


.icon{
  color: #445C3C;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #FAE8C8;
}


/*options*/

.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: auto;

}


.mySlides {
  display: none;

}

.option-img{
  width: 100%;
  height: 60%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

  /*call to action*/

  .action-header{
    text-align: center;
    padding-bottom: 2%;
    text-transform: lowercase;
    letter-spacing: 5px;
    color: white;
    font-weight: bold;
    font-size: medium;
    

  }
  #sub-section{
    text-align: center;
    background-color: #fdcb9e;
    padding: 5% 0;;
  }



  /*footer*/



  #footer{
      text-align: center;
      background-color:#cceabb;
  }

  .social-medias{
    margin: 20px 10px;
  }


  /*media queries*/

  @media (min-width: 769px){

   .main-header{
     height: 150px;
     justify-content: flex-end;
  

   }
   .brand-name{
     width: 140px;
   }
  
  .nav-links{
    margin-top: 3em;
    flex-direction: row;
    justify-content: space-between;
  }


  .title-heading{
    transform: translate(-50%, -50%);
    font-size: x-large;
    top: 30%;
    left: 50%;

}
.title-description{
    transform: translate(-50%, -50%);
    font-size: large;
    top: 50%;
    left: 50%;
  
}

.action-header,
.option-header{
  font-size: x-large;
}
.slideshow-container {
  max-width: 600px;
 
    }

    @media (min-width: 1025px){

      .main-header{
        flex-direction: row; 
        padding-left: 3%;
        
        
      }
      .brand-name{
        margin-right: auto;
      }
      .nav-links{
        margin-top: 0;
        align-self: center;
        padding-right: 4%;
      }
    
  .title-heading{
    transform: translate(-50%, -50%);
    font-size: xx-large;
    

}
.title-description{
    transform: translate(-50%, -50%);
    font-size: x-large;
}

.feature{
  display:grid;
  grid-template-columns: 2fr 2fr 2fr ;
  grid-template-rows: .4fr .4fr;
  grid-template-areas: 
  "sub-heading sub-heading sub-heading "
  "col1 col2 col3";
}
.action-header,
.option-header{
  font-size: xx-large;
}
.slideshow-container {
  max-width: 900px;
    }




